@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');


* {
padding: 0;
margin: 0;
font-family: 'Roboto', sans-serif;
}

body{
  background-color: #faf8e1;
  /* height: 1800px; */
  width: 100%;
}
header{
  display: flex;
  justify-content: space-between;
  padding: 20px 50px 0px;
}

nav{
  padding-top: 30px;
}


h1{
  font-family: 'Roboto', sans-serif;
  font-size: 80px;
  color: #5c5656;
  margin: 50px 30px;
}

.first-nav {
  list-style: none;
  background: #faf8e1;
}

.first-nav li{
  display: inline-block;
  position: relative;
  font-size: 30px;
  color: #5c5656;
}

.first-nav li a{
display: block;
padding: 20px 25px;
color: #4b4646;
text-decoration: none;
text-align: center;
font-size: 30px;
}

ul li ul.dropdown li a{
  display: flex;
  justify-content: flex-start;
  font-size: 20px;
  flex-wrap: nowrap;
}

ul li ul.dropdown{
  width: 220%;
  background: none;
  position: absolute;
  z-index: 999;
  display: none;
}

.banners{
  display: flex;
  flex-direction: column;
}

.banners div img{
  width: 70%;
  height: auto;
  margin-bottom: 20px;
}

#banner1, #banner2, #banner3{
  display: flex;
  /* width: 70%; */
  height: auto;
}

.cta {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.cta p{
  color: #4b4646;
  font-size: 24px;
  padding: 20px 5%;
}

.cta button{
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 30px;
  padding-left: 30px;
  text-decoration: none;
  border: 3px solid #334E45;
  background-color:#faf8e1;
  font-size: 20px;
  color: #334E45;
  border-radius: 5px;

}

.cta button:hover{
  background-color: #334E45;
  color: #faf8e1;
}

.cta button a{
  text-decoration: none;
  color: #334E45;
}

.cta button:hover a{
  color: #faf8e1;
}

.models{
  margin-right: 10px;
}


.first-nav li a:hover:not(.models){
  /* background: none; */
  color: #4b4646;
  font-size: 24px;
  /* background: #faf8e1; */
  /* padding-right: 100%; */
}

ul li:hover ul.dropdown{
  display: block;
  background: #faf8e1b7;
}

.hero-img img{
  display: flex;
  /* align-items: center; */
  justify-content: center;
  margin: 0 auto;
  width: 90%;

}
img{
  max-width: 100%;
  height: auto;
  

}

.second-nav{
  background-color: #334E45;
  display: flex;
  flex-direction: row;
  text-decoration: none;
  justify-content: space-evenly;
  width: 100%;
  text-align: center;
  color: #faf8e1 !important;
  list-style: none;
  /* width: 100%; */

  padding-top: 20px;
  padding-bottom: 20px;
  
  
}

.second-nav li a{
  font-size: 30px;  
  /* padding: 20px 70px; */
  color: #faf8e1 !important;
  text-decoration: none;
  position:relative;
  
}

.flavor{
  display: flex;
  width: 70%;
  margin: auto;
  margin-top: 70px;
  color: #4b464600;
  font-size: 30px;
  position: relative;
  transition: color 1.5s ease;
}


.flavor-text{
  z-index: 999;
  padding: 20px 0px;
  border-radius: 10px;
  
}


.flavor:after{
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  background: #334E45;
  bottom: -30px;
  left: 0;
  transform: scale(0, 1);
  transition: transform 1.5s ease-in-out;

}


#explore{
  display: flex;
  font-size:48px;
  color: #4b4646;
  justify-content: center;
  margin-top: 70px;
}

#cardrow{
  display: flex;
  flex-direction: row;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  justify-content: space-between;
  /* border-bottom:  3px solid black; */
}

.pic{
  display: flex;
  width: fit-content;
  position: relative;
  align-items: center;
  align-content: center;
  justify-content: center;
  overflow: hidden;
  
}
.card{
  display: block;
  height: auto;
  width: 400px;
  
  
}

.image-overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.25s;
}

.image-overlay:hover{
  backdrop-filter: blur(10px);
  opacity: 1;
}

.image-button{
  background-color: #faf8e1;
  outline: none;
  border: 2px solid #46695d;
  color:#46695d;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.25em;
  text-align: center;
  padding: 0.5em 1em;
  transition: bckground-color 0.25s;
  transition: border 0.25s;
  transition: color 0.25s;
}

.image-button:hover{
  cursor: poiner;
  background-color: #46695d;
  border: 2px solid #faf8e1;
  color:#faf8e1;

}

.info {
  display: none;
  position: absolute;
  top:0px;
  left:0px;
  text-align: center;
}

.pic:hover{
  box-shadow: 2px 2px 20px rgb(147, 147, 147);
}

.pic:hover> .info {
  display: flex;
  
}

#cardrow-btn{
  display: flex;
  flex-direction: row;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  justify-content: space-between;
}


#cardrow-btn button{
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 30px;
  padding-left: 30px;
  text-decoration: none;
  border: 3px solid #334E45;
  background-color:#faf8e1;
  font-size: 20px;
  color: #334E45;
  border-radius: 5px;
}

#cardrow-btn button:hover{
  background-color: #334E45;
  color: #faf8e1;
}



#second-call{
  display: flex;
  flex-direction: column;
  margin-top: 180px;
  width: 100%;
}

#second-call div{
  display: flex;
  width: 100%;
  height: auto;
  align-items: center;
  margin-bottom: 40px;

}

#second-call div img{
  width: 70%;
  height: auto;
}

#second-call div a{
  width: 30%;
  display: flex;
  text-decoration: none;

}
#second-call div a button{
  margin: auto;
  /* height: 50px;
  width: 30% */
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 40px;
  padding-left: 40px;
  text-decoration: none;
  border: 3px solid #334E45;
  background-color:#faf8e1;
  font-size: 20px;
  color: #334E45;
  border-radius: 5px;

}

#second-call div a button:hover{
  background-color: #334E45;
  color: #faf8e1;
}



.mid-foot img{
max-width: 400px;
height: auto;
width: auto;
opacity: 0.3;
}

.second-nav:hover ~ .flavor::after{
  transform: scale(1, 1);
}

.second-nav:hover ~ .flavor{
  color: #4b4646;
}

.second-nav:focus ~ .flavor::after{
  transform: scale(1, 1);
}

.second-nav:focus ~ .flavor{
  color: #4b4646;
}

.overview-button{
  border: none;
  background-color: #4b464600;
}

#donothing{
  pointer-events: none;
}

#final-nav{
display: flex;
justify-content: space-evenly;
width: 100%;
height: auto;
margin: 120px auto;
padding: 30px 0px;
}

.final-nav-btn{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
}

.final-nav-btn img{
  width: 60px;
  height: auto;
  margin-bottom: 20px;
}

.final-nav-btn a{
  text-decoration: none;
  color: #46695d;
  font-size: 30px;
}

.final-nav-btn a:hover{
  font-size: 36px;
}

footer{
  display: flex;
  margin-top: 100px;
  justify-content: space-between;
  background-color: #334E45;

}

.left-foot{
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  padding-left: 170px;
  font-size: 20px;
  
}

.left-foot a{
  color: #faf8e1;
  text-decoration: none;
  padding-bottom: 20px;
}

.right-foot{
  margin-top: 50px;
  margin-right: 100px;
}

footer img{
  margin-top: 50px;
}



#logo-img{
  opacity: 0.7 !important;
  max-width: 300px;
  margin-top: 20px;

}


#contact-main{
  height: 950px;
  display: flex;
  flex-direction: column;
}

form{
  display: flex;
  flex-direction: column;
  margin: 100px 200px;
  justify-content: flex-start;
  position: relative;
  
}



#submit{
  height: 45px;
  width: 120px;
  background-color:#46695d;
  border: none;
  color: #faf8e1;
  margin-top: 20px;
  font-size: 20px;
}

#sub-label{
  margin-top: 28px;
  margin-left:5px;
}

label{
margin-bottom: 6px;
font-size: 20px;
}

#name, #email{
  width: 250px;
  margin-bottom: 20px;
  height: 20px;
}

#question{
  width: 450px;
  height: 190px;
}

#second-1, #second-2, #second-3{
  justify-content: space-between;
  width: 100%;
}


@media screen and (max-width:1020px) {

#logo-img{
  max-width: 200px;
}
  
  .left-foot{
    padding-left: 10%;
  }
  .right-foot{
    margin-right: 10%;
  }


  header nav ul{
    display: flex;
    /* flex-direction: column-reverse; */

  }
  .second-nav li a{
    font-size: 20px;
  }

  .first-nav li a{
    font-size: 20px;
    
  }
  .ul li ul.dropdown{
    /* width: 100%; */
    background: none;
    position: absolute;
    z-index: 999;
    display: none;
    flex-direction: column;
  }

  .flavor-text{
    font-size: 20px;
  }

  .flavor{
    margin-top: 50px;
  }

  .image-button{
    background-color: #faf8e1;
    outline: none;
    border: 2px solid #46695d;
    color:#46695d;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.25em;
    text-align: center;
    padding: 0.25em 0.75em;
    transition: bckground-color 0.25s;
    transition: border 0.25s;
    transition: color 0.25s;
  }

  footer{
    margin-top: 150px;
  }

  header div img{
    max-width: 200px;
    height: auto;
    opacity: 0.2 !important;
  }
  header nav{
    padding-top: 0px;
  }

  .dropdown li{
    font-size: 16px;
    text-align: left;
  }

  .dropdown{
    width: auto;
  }


  header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  .right-foot{
    margin-right: 30px;
  }

  .mid-foot img{
    max-width: 200px;
    height: auto;
    width: auto;
    }

  #second-call div a{
    font-size: 18px;
    width: 200px;
  }

  #second-call div a button{
    font-size: 18px;
    /* width: 200px; */
    padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 30px;
  padding-left: 30px;
  }

  .final-nav-btn{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 70px;
  }
  
  .final-nav-btn img{
    width: 40px;
    height: auto;
    margin-bottom: 15px;
  }
  
  .final-nav-btn a{
    text-decoration: none;
    color: #46695d;
    font-size: 24px;
  }
  
  .final-nav-btn a:hover{
    font-size: 28px;
  }

  #banner1, #banner2, #banner3{
    display: flex;
    /* width: 70%; */
    height: auto;
    flex-direction: column;
    margin-bottom: 150px;
  }

  #final-nav{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: auto;
    margin: 70px auto;
    padding: 30px 0px;
    }

    form{
      display: flex;
      flex-direction: column;
      margin: 100px 100px;
      justify-content: flex-start;
      position: relative;
      
    }

}

@media screen and (max-width:600px){

  #logo-img{
    max-width: 120px;
  }

  .second-nav li a{
    font-size: 14px;
  }

  .first-nav li a{
    font-size: 14px;
  }

  .flavor-text{
     font-size: 14px;
   }

   .flavor{
    margin-top: 30px;
  }

  .image-button{
    background-color: #faf8e1;
    outline: none;
    border: 2px solid #46695d;
    color:#46695d;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.15em;
    text-align: center;
    padding: 0.15em 0.50em;
    transition: bckground-color 0.25s;
    transition: border 0.25s;
    transition: color 0.25s;
  }

  footer{
    margin-top:60px;
  }

  .left-foot{
    font-size: 12px;
  }

  header img{
    max-width: 100px;
    height: auto;
  }

  .dropdown li{
    font-size: 12px;
  }

  .dropdown{
    width: auto;
  }

  #second-call div a button{
    font-size: 14px;
    /* width: 200px; */
    padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 20px;
  padding-left: 20px;
  }



  footer .mid-foot{
    display: none;
  }


  .right-foot{
    margin-right: 5px;
  }

  .final-nav-btn{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
  }
  
  .final-nav-btn img{
    width: 25px;
    height: auto;
    margin-bottom: 10px;
  }
  
  .final-nav-btn a{
    text-decoration: none;
    color: #46695d;
    font-size: 18px;
  }
  
  .final-nav-btn a:hover{
    font-size: 22px;
  }

  #final-nav{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: auto;
    margin: 35px auto;
    padding: 30px 0px;
    }

    #question{
      width: 300px;
      height: 290px;
    }
    form{
      display: flex;
      flex-direction: column;
      margin: 100px 50px;
      justify-content: flex-start;
      position: relative;
      
    }
}

